*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(120deg,#e2c35d,#d88771);
    color: white;
    font-family:"Poppins";
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-button{
    cursor: pointer;
    color: #ff6f47;
  
}
.add-button:hover{
    cursor: pointer;
    color: white;
    background-color: #ff6f47;
}
.todo-input{
    outline: none;
}
.todo-input,.add-button{
    padding: .5rem;
    font-size: 2rem;
    border: none;
    background:white;
    height: 50px;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
   min-width: 30%;
   list-style:none;
}
.todo{
    margin: .5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 3s ease;
}
.todo__content{
    flex: 1;
}
.completed,.delete{
    background-color: #ff6f47;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
}
.completed{
    background-color: rgb(74, 203, 74);
}
.delete{

}
.fa-check,.fa-trash{
    pointer-events: none;
}
.completed-active{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}